<div>
  <h2 id="page-heading" data-cy="AnnonceHeading">
    <span jhiTranslate="evaHackathonApp.annonce.home.title">Annonces</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="evaHackathonApp.annonce.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-annonce"
        [routerLink]="['/annonce/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="evaHackathonApp.annonce.home.createLabel"> Créer un nouveau Annonce </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="annonces?.length === 0">
    <span jhiTranslate="evaHackathonApp.annonce.home.notFound">Aucun Annonce trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="annonces && annonces.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="titre">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.annonce.titre">Titre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDeDelegation">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.annonce.dateDeDelegation">Date De Delegation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDeDelais">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.annonce.dateDeDelais">Date De Delais</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tarif">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.annonce.tarif">Tarif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="postulantRetenu">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.annonce.postulantRetenu">Postulant Retenu</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="imageVideo">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.annonce.imageVideo">Image Video</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.annonce.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mandataireDelegateur.id">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.annonce.mandataireDelegateur">Mandataire Delegateur</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let annonce of annonces; trackBy: trackId">
          <tr *ngIf="mandataireDelegateur?.id === annonce?.mandataireDelegateur?.id" data-cy="entityTable">
            <td>
              <a [routerLink]="['/annonce', annonce.id, 'view']">{{ annonce.id }}</a>
            </td>
            <td>{{ annonce.titre | shorten: 50 }}</td>
            <td>{{ annonce.dateDeDelegation | formatMediumDatetime }}</td>
            <td>{{ annonce.dateDeDelais | formatMediumDate }}</td>
            <td>{{ annonce.tarif }}</td>
            <td>{{ annonce.postulantRetenu }}</td>
            <td>
              <a
                *ngIf="annonce.imageVideo"
                (click)="openFile(annonce.imageVideo, annonce.imageVideoContentType)"
                jhiTranslate="entity.action.open"
                >Ouvrir</a
              >
              <span *ngIf="annonce.imageVideo">{{ annonce.imageVideoContentType }}, {{ byteSize(annonce.imageVideo) }}</span>
            </td>
            <td>{{ annonce.description | shorten: 50 }}</td>
            <td>
              <div *ngIf="annonce.mandataireDelegateur">
                <a [routerLink]="['/mandataire-delegateur', annonce.mandataireDelegateur.id, 'view']">{{
                  annonce.mandataireDelegateur.id
                }}</a>
              </div>
            </td>
            <td class="text-end">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/liste-annonces', annonce.id]"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                </button>

                <button
                  type="submit"
                  [routerLink]="['/annonce', annonce.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                </button>

                <button type="submit" (click)="delete(annonce)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div *ngIf="annonces && annonces.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
