<div class="remboursement flex-column d-flex justify-content-center">
  <div>
    <h2 class="ap text-white justify-content-center" style="width: 35rem">REMBOURSEMENT</h2>
  </div>

  <div>
    <div id="card-decks-component" class="tab-pane" role="tabpanel" aria-labelledby="card-decks-component-tab">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">1ere Condition</h5>
            <p class="card-text">
              Si vous attribuez une tache numerique à un prestataire Eva et qu'il ne le fait pas, c'est à dire durée allouer à la tache est
              atteint mais le prestataire ne vous fournir pas de preuve qu'il a debuté le travail alors vous etes remboursés
              automatiquement.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">2eme Condition</h5>
      <p class="card-text">
        La durée allouée au service est atteint mais le prestataire vous fournir des preuves de l'avancement du travail.Vous etes libre de
        choisir d'etre rembourser ou de patienter le temps qu'il finisse.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">3eme Condition</h5>
      <p class="card-text">
        Vous avez fait une erreur en commander un travail et vous voulez l'annulé .Vous pouvez demander un remboursement que si l'etat de
        votre commande n'est pas en cours.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">4eme Condition</h5>
      <p class="card-text">
        Vous avez confier un travail à un prestataire Eva mais le travail à été mal fait.Vous pourrez demander aux prestataires de refaire
        le travail.Si celui-ci s'en tete du travail bien fait alors il faudra fournir des preuves pour etre rembourser.
      </p>
    </div>
  </div>

  <div>
    <div class="tab-pane" role="tabpanel" aria-labelledby="card-decks-component-tab">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">COMMENT SE FAIT LE REMBOURSEMENT?</h5>
            <p class="card-text">
              La totalité de votre argent est reverser sur votre compte electronique Eva, vous pourriez l'utilisé à tout moment pour l'achat
              d'un autre service numérique.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
