<div id="container_parent">
  <section class="home" style="background: url('../../content/images/banner.jpg') no-repeat center" id="home">
    <div class="max-width">
      <div class="home-content">
        <div class="text-1">Salut, je m'appelle</div>
        <div class="text-2">
          <span> {{ mandataireDelegateur?.prenom }} </span> {{ mandataireDelegateur?.nomDeFamille?.toUpperCase() }}
        </div>
        <div class="text-3">Et jutilise EVA <span class="typing"></span></div>
      </div>
    </div>
  </section>

  <!-- about section start -->
  <section class="about" id="about">
    <div class="max-width">
      <h2 class="title">Mes Annonces</h2>
      <ng-container>
        <div *ngIf="loading$ | async" class="spinner-border text-eva" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-container>
      <ng-container *ngIf="annonces$ | async as annonces">
        <ng-container *ngFor="let annonce of annonces">
          <div
            *ngIf="annonce?.mandataireDelegateur?.id === mandataireDelegateur?.id"
            id="card-component"
            class="tab-pane tab-example-result fade show active"
            role="tabpanel"
            aria-labelledby="card-component-tab"
          >
            <div class="card mb-3">
              <div class="about-content">
                <div class="column left">
                  <img [src]="'data:' + annonce?.imageVideoContentType + ';base64,' + annonce?.imageVideo" [alt]="annonce?.titre" />
                </div>
                <div class="column right">
                  <div class="text">{{ annonce?.titre }} <span class="typing-2"></span></div>
                  <p>
                    {{ annonce?.description }}
                  </p>
                  <a [href]="'/liste-annonces/' + annonce?.id" routerLinkActive="active">Souscrire</a>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </section>

  <jhi-commentaires [commentaires]="commentaires" [annonceur]="mandataireDelegateur" (newComment)="onNewComment($event)"></jhi-commentaires>

  <!-- contact section start -->
</div>
