<div id="body">
  <div class="slider">
    <input type="radio" name="testimonial" id="t-1" />
    <input type="radio" name="testimonial" id="t-2" />
    <input type="radio" name="testimonial" id="t-3" checked />
    <input type="radio" name="testimonial" id="t-4" />
    <input type="radio" name="testimonial" id="t-5" />
    <div class="testimonials" id="testimonials">
      <label class="item" id="lab1" for="t-1">
        <h1>1</h1>
      </label>
      <label class="item" id="lab2" for="t-2">
        <h1>2</h1>
      </label>
      <label class="item" id="lab3" for="t-3">
        <h1>3</h1>
      </label>
      <label class="item" id="lab4" for="t-4">
        <h1>4</h1>
      </label>
      <label class="item" id="lab5" for="t-5">
        <h1>5</h1>
      </label>
    </div>
    <br />
    <div class="dots" id="dots">
      <label for="t-1"></label>
      <label for="t-2"></label>
      <label for="t-3"></label>
      <label for="t-4"></label>
      <label for="t-5"></label>
    </div>
  </div>
</div>
