<div>
  <h2 id="page-heading" data-cy="TransactionHeading">
    <span jhiTranslate="evaHackathonApp.transaction.home.title">Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="evaHackathonApp.transaction.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transaction"
        [routerLink]="['/transaction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="evaHackathonApp.transaction.home.createLabel"> Créer un nouveau Transaction </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="transactions?.length === 0">
    <span jhiTranslate="evaHackathonApp.transaction.home.notFound">Aucun Transaction trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="transactions && transactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numeroMtn">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.transaction.numeroMtn">Numero Mtn</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="montant">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.transaction.montant">Montant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="devise">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.transaction.devise">Devise</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateTransaction">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.transaction.dateTransaction">Date Transaction</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="precision">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.transaction.precision">Precision</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="annonce.titre">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.transaction.annonce">Annonce</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="postulant.id">
            <div class="d-flex">
              <span jhiTranslate="evaHackathonApp.transaction.postulant">Postulant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transaction', transaction.id, 'view']">{{ transaction.id }}</a>
          </td>
          <td>{{ transaction.numeroMtn }}</td>
          <td>{{ transaction.montant }}</td>
          <td jhiTranslate="{{ 'evaHackathonApp.Devise.' + transaction.devise }}">{{ transaction.devise }}</td>
          <td>{{ transaction.dateTransaction | formatMediumDatetime }}</td>
          <td>{{ transaction.precision }}</td>
          <td>
            <div *ngIf="transaction.annonce">
              <a [routerLink]="['/annonce', transaction.annonce.id, 'view']">{{ transaction.annonce.titre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="transaction.postulant">
              <a [routerLink]="['/postulant', transaction.postulant.id, 'view']">{{ transaction.postulant.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transaction', transaction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transaction', transaction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(transaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="transactions && transactions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
