<div class="a-propos flex-column d-flex justify-content-center">
  <div>
    <h2 class="ap text-white justify-content-center" style="width: 35rem">A PROPOS DE NOUS</h2>
  </div>

  <div>
    <h2 class="pres text-black">Présentation de BEVE</h2>
    <p class="text">
      Eva est une application web qui permet de mettre en relation les travailleurs indépendants (Freelanceurs/Freelanceuses) avec une
      panoplie de client dans leur pays et partout en Afrique. Eva, la mère des travailleurs indépendants donne de la visibilité aux
      travailleurs indépendants , mais aussi elle augmente leur revenu.
    </p>
  </div>

  <div>
    <h2 class="pres text-black">Présentation des Fondateurs de BEVE</h2>

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="../../../content/images/Image2.jpg" class="card-img-top" alt="Hollywood Sign on The Hill" />
          <div class="card-body">
            <h5 class="card-title">N'GUETTA FRED</h5>
            <p class="text">
              Titulaire d’une Maitrise en Informatique et passionné de nouvelle technologie. Participant à plusieurs projets informatiques
              d’envergure et ayant une expérience en développement d’application web et mobile.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../content/images/Image1.jpg" class="card-img-top" alt="Palm Springs Road" />
          <div class="card-body">
            <h5 class="card-title">MEDA DEGRIZE</h5>
            <p class="text">
              Titulaire d’un Diplôme de Technicien supérieur en Informatique et passionné de nouvelle d’informatique. Participant à
              plusieurs projets informatiques d’envergure et ayant une expérience en développement d’application web et mobile.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2 class="pres text-black">Notre mission</h2>
    <p class="text">
      La mission principale est d'aider les travailleurs independants à vivre avec les revenues de leur petite entreprise.En faisant cela
      nous sommes en accord avec les ODD car,eva participe à :
      <br />
      - La reduction de la pauvrete;
      <br />
      - La fracture numerique;
      <br />
      - Le taux de chommage. Etc ..
    </p>
  </div>
</div>
