<div>
  <!-- services section start -->
  <section class="services mb-5" id="services">
    <div class="max-width">
      <h2 class="title"></h2>
      <div class="serv-content">
        <div class="card">
          <a routerLink="postes">
            <div class="box">
              <i class="fas fa-chart-line"></i>
              <div class="text">Postes</div>
              <p>Vous retrouvrez les annonces que vous même aviez postées</p>
            </div>
          </a>
        </div>
        <div class="card">
          <a routerLink="demandes">
            <div class="box">
              <i class="fas fa-code"></i>
              <div class="text">Souscription</div>
              <p>Vous Retrouvez les annonces que vous aviez recommandées</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
