<div class="regle-condition flex-column d-flex justify-content-center">
  <div>
    <h2 class="ap text-white justify-content-center" style="width: 35rem">REGLE & CONDITONS</h2>
  </div>

  <div>
    <div id="card-decks-component" class="tab-pane" role="tabpanel" aria-labelledby="card-decks-component-tab">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../../content/images/illegal.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">ACTIVITE ILLICITE</h5>
            <p class="card-text">
              Eva s'atelera a la suspension des comptes du fait que les-dits utilisateurs proposeront des activités telles que :la drogue,
              la prostitution, le trafic humain ou autre activité alliées.
            </p>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="../../../content/images/planet-earth.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">PRESERVATION DE L'ENVIRONNEMENT</h5>
            <p class="card-text">
              Eva s'atelera a la suspension des comptes du fait que les-dits utilisateurs se livreront a des actes anti-environnement.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="tab-pane" role="tabpanel" aria-labelledby="card-decks-component-tab">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../../content/images/commission.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">COMMISSIONS</h5>
            <p class="card-text">
              Eva vous permet d'accroitre vos revenues. Pour evoluer et pallier à ses depenses la plateforme Eva facturera une commission en
              fonction du cout du service numerique.Cette commission n'excedera pas les 20% du montant du service choisit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
