<div class="vie-prive flex-column d-flex justify-content-center">
  <div>
    <h2 class="ap text-white justify-content-center" style="width: 35rem">VIE PRIVE</h2>
  </div>

  <div>
    <div class="card">
      <img src="../../../content/images/Image3.jpg" class="card-img-top" alt="Hollywood Sign on The Hill" />
      <p class="text">
        Eva rassure tout d’abord la sécurité de vos données personnelles. Nous pouvons collecter des données que vous nous soumettez
        directement ou des données que nous collectons automatiquement, y compris à partir de cookies.
        <br />
        Nous collectons et utilisons des données - y compris, le cas échéant, vos données personnelles - aux fins énumérées ci-dessous.
        <br />
        <br />
        - L’amélioration de la plateforme Beve;
        <br />
        - La présentation de publicité personnalisé;
        <br />
        - L’utilisation de certaine fonctionnalité.
      </p>
    </div>
  </div>
</div>
