<nav data-cy="navbar" class="navbar navbar-light navbar-expand-md bg-eva">
  <div class="container-fluid d-flex">
    <a
      class="navbar-brand logo"
      routerLink="/"
      (click)="collapseNavbar()"
      placement="bottom"
      ngbTooltip="{{ 'global.menu.home' | translate }}"
    >
      <span class="logo-img"></span>
      <!--      <span jhiTranslate="global.title" class="navbar-title">EvaHackathonApp</span>-->
      <span class="navbar-version">{{ version }}</span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
      <ul class="navbar-nav ms-auto d-flex align-items-center justify-content-end navbar-nav ml-lg-auto">
        <li>
          <form class="navbar-search navbar-search-light form-inline mr-3 d-none d-md-flex ml-lg-auto">
            <div class="form-group mb-0" [ngClass]="{ focused: focus === true }">
              <div class="input-group input-group-alternative bg-white">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Qu'est ce que vous recherchez?"
                  type="text"
                  (focus)="focus = true"
                  (blur)="focus = false"
                />
              </div>
            </div>
          </form>
        </li>

        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/annonce" (click)="collapseNavbar()">
            <span>
              <span>Annonces</span>
            </span>
          </a>
        </li>
        <li
          *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']"
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <ng-container *ngIf="mandataireDelegateur">
            <a class="nav-link" routerLink="/dashboard" (click)="collapseNavbar()">
              <span>
                <span>Dashboard</span>
              </span>
            </a>
          </ng-container>
        </li>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
            <span>
              <img width="30px" [src]="'../../../content/assets/img/icons/flags/' + lang + '.png'" class="img-flags" />
              <span>{{ lang.toUpperCase() }} </span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
            <li *ngFor="let language of languages">
              <a
                class="dropdown-item"
                [jhiActiveMenu]="language"
                href="javascript:void(0);"
                (click)="changeLanguage(language); collapseNavbar()"
              >
                <span>
                  <img [src]="'../../../content/assets/img/icons/flags/' + language + '.png'" class="img-flags" />
                  <span>{{ language | findLanguageFromKey }} </span>
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            <span *ngIf="!account?.imageUrl">
              <fa-icon icon="user"></fa-icon>
              <span jhiTranslate="global.menu.account.main">Compte</span>
            </span>
            <span *ngIf="account?.imageUrl">
              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/settings"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="settings"
              >
                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.settings">Profil</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/password"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="passwordItem"
              >
                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.password">Mot de passe</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.logout">Déconnexion</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.login">S'authentifier</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a
                class="dropdown-item"
                routerLink="account/register"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="register"
              >
                <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.register">Créer un compte</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
