<div [ngSwitch]="account !== null" class="home flex-column d-flex justify-content-center">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="head col-xl-6 d-flex flex-column align-items-center col-sm-10">
      <carousel class="slider mt-5">
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/assets/img/beve/av.png" alt="First slide" />
        </slide>

        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/assets/img/beve/tr.png" alt="Second slide" />
        </slide>

        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/assets/img/beve/md.png" alt="Second slide" />
        </slide>

        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/assets/img/beve/pr.png" alt="First slide" />
        </slide>
      </carousel>

      <button *ngSwitchCase="false" type="button" routerLink="/account/register" class="btn btn-info btn-slider text-white">
        Commencer
      </button>
    </div>

    <div *ngFor="let categorie of categories" class="box">
      <div>
        <h2 class="ap text-white justify-content-center">{{ categorie.nom }}</h2>
      </div>
      <div class="card-deck">
        <ng-container *ngFor="let annonce of annonces">
          <ng-container *ngFor="let annonceCategorie of annonce.categories">
            <div *ngIf="annonceCategorie.id === categorie.id" class="card" style="width: 14rem">
              <img
                class="card-img-top"
                [src]="'data:' + annonce?.imageVideoContentType + ';base64,' + annonce?.imageVideo"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-titlee">{{ annonce?.titre }}</h5>
                <p class="card-text">{{ annonce?.description }}</p>
                <h5 class="prix">{{ annonce?.tarif }}</h5>
                <a [routerLink]="['/annonce', annonce.id, 'edit']" class="btn btn-primary">Commander</a>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <section id="clients" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3>Nos partenaires</h3>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp">
          <div class="col-lg-3 col-md-4 col-xs-6 mb-4">
            <div class="client-logo">
              <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460379/client-5.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 mb-2">
            <div class="client-logo">
              <img src="../../../content/assets/img/beve/log3.jpg" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 mb-2">
            <div class="client-logo">
              <img src="../../../content/assets/img/beve/log2.jpg" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 mb-2">
            <div class="client-logo">
              <img src="../../../content/assets/img/beve/log1.jpg" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
