<div class="paiement flex-column d-flex justify-content-center">
  <div>
    <h2 class="ap text-white justify-content-center" style="width: 35rem">PAIEMENT</h2>
  </div>

  <div classe="row">
    <div class="card" style="width: 18rem">
      <img [src]="'data:' + annonce?.imageVideoContentType + ';base64,' + annonce?.imageVideo" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ annonce?.titre }}</h5>
        <p class="card-text">{{ annonce?.description | shorten: 50 }}</p>
        <p class="cout">cout : {{ annonce?.tarif }} Fcfa</p>
      </div>
    </div>
  </div>

  <div class="alert" role="alert">
    <h4 class="alert-heading">Durée</h4>
    <p>{{ annonce?.duree }}</p>
  </div>

  <form [formGroup]="mainForm" (ngSubmit)="save()">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Precisions</label>
      <div class="col-sm-10">
        <textarea
          id="inputPrecision"
          class="form-control"
          placeholder="Precisions"
          type="textarea"
          name="message"
          id="message"
          maxlength="6000"
          formControlName="precision"
          rows="4"
        ></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlFile1">Image/Vidéo</label>
      <div class="col-sm-10">
        <input type="file" class="form-control-file" id="exampleFormControlFile1" />
      </div>
    </div>

    <p class="ptext">Paiement</p>

    <div>
      <img src="../../../content/images/mtn.png" class="mtn" />
      <div class="alert" role="alert">
        <p>Cout : {{ annonce?.tarif }} FCFA</p>
        <p>Frais Eva : {{ fraisEVa }} FCFA</p>
        <p>Total : {{ tarif - fraisEVa }} FCFA</p>
        <input
          formControlName="numeroMomo"
          id="inputMoMo"
          class="form-control form-control-lg"
          style="width: 10rem"
          type="tel"
          placeholder="05xxxxxxxx"
        />

        <div *ngIf="mainForm.get('numeroMomo')!.invalid && (mainForm.get('numeroMomo')!.dirty || mainForm.get('numeroMomo')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="mainForm.get('numeroMomo')?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
          <small class="form-text text-danger" *ngIf="editForm.get('numeroMomo')?.errors?.pattern">
            Renseignez un numero de 10 chiffres.
          </small>
          <small class="form-text text-danger" *ngIf="mainForm.get('numeroMomo')?.errors?.validValidator">
            Veuillez commencer par le prefixe 05
          </small>
        </div>
      </div>

      <div class="bt form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary" [disabled]="mainForm.invalid || isSaving">Valider</button>
        </div>
      </div>
    </div>
  </form>
</div>
