<!--
<mat-card>
  <ng-container *ngIf="annonce$ | async as annonce">
    <img [src]="" />
    <div class="employee-info">
      <h1>{{ annonce.titre }}</h1>
      <h2>
        <span *ngFor="let annonceCategorie of annonce?.categories">
          {{ annonceCategorie.nom }} </span
        >,
      </h2>
      <h3>Contact : {{ annonce?.mandataireDelegateur?.email }}</h3>
    </div>
  </ng-container>
  <mat-card-actions>
    <mat-spinner *ngIf="loading$ | async; else buttons"></mat-spinner>
    <ng-template #buttons>
      <div class="action-buttons">
        <button mat-flat-button color="accent" (click)="onHire()">EMBAUCHER</button>
        <button mat-flat-button color="warn" (click)="onRefuse()">REFUSER</button>
      </div>
      <button mat-flat-button color="primary" (click)="onGoBack()">RETOUR</button>
    </ng-template>
  </mat-card-actions>
</mat-card>
-->

<div id="container_parent">
  <div *ngIf="loading$ | async" class="spinner-border text-eva" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <div class="container" *ngIf="annonce$ | async as annonce">
    <div class="box one">
      <div class="details">
        <div class="topic">Description</div>
        <p>
          {{ annonce.description }}
        </p>
        <div class="price-box">
          <div class="price">{{ annonce.tarif }} Fcfa</div>
          <div *ngIf="annonce.postulantRetenu; else btnDemander" class="discount">Embaucher</div>
        </div>
      </div>
      <ng-template #btnDemander>
        <div class="button1 mb-2">
          <button routerLinkActive="active" [routerLink]="['/paiement', annonce.id]">Embaucher</button>
        </div>
      </ng-template>
      <div class="button1 mb-2">
        <button routerLinkActive="active" [routerLink]="['/mandataire-portfolio', annonce?.mandataireDelegateur?.id, 'view']">
          Voir l'annonceur
        </button>
      </div>
      <div class="button3">
        <button class="btn btn-eva p-2" routerLinkActive="active" (click)="previousState()" jhiTranslate="entity.action.cancel">
          Retour
        </button>
      </div>
    </div>
    <div class="box two">
      <div class="image-box">
        <div class="image">
          <img [src]="'data:' + annonce?.imageVideoContentType + ';base64,' + annonce?.imageVideo" [alt]="annonce.titre" />
        </div>
        <div class="info">
          <div class="name">{{ annonce.titre | shorten: 30 }}</div>
          <div class="button2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
